<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Cadastro</title>
</h:head>
<h:body>
	<h:form>
		<label>Nome:</label><br/>
		<h:inputText id="nome" name="nome" value="#{userBean.nome}" /><br/>
		<label>Email:</label><br/>
		<h:inputText id="email" name="email" value="#{userBean.email}" /><br/>
		<label>Senha:</label><br/>
		<h:inputSecret id="senha" name="senha" value="#{userBean.senha}" /><br/>
		<h:commandButton id="btn" value="Enviar" action="#{userBean.Cadastro()}" />
	</h:form>
</h:body>
</html>
