<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
 <title>editar</title>
</h:head>
<f:metadata>
		<f:event listener="#{userBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
</f:metadata>

<h:body>
	<h:form>
		<h:inputHidden id="id" value="#{userBean.id}" />
		Nome: <h:inputText value="#{userBean.nome}" name="nome" id="nome"/>
		<br />
		Email: <h:inputText value="#{userBean.email}" name="email" id="email"/>
		<br />
		Senha: <h:inputText value="#{userBean.senha}" name="senha" id="senha"/>
		<br />
		
		<h:commandButton action="#{userBean.editar()}" value="editar"/>
	</h:form>
</h:body>
</html>
