<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Editar video</title>
</h:head>
<f:metadata>
		<f:event listener="#{videoBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
</f:metadata>
<h:body>
		<h:outputText value="#{videoBean.men}" escape="false"></h:outputText>
	<h:form enctype="multipart/form-data">
		<h:inputHidden id="id" value="#{videoBean.id}" />
		<label>Título:</label><br/>
		<h:inputText id="titulo" name="titulo" value="#{videoBean.titulo}" /><br/>
		<h:inputText value="#{videoBean.video2}" style="display: none;" />
		<label>Imagens:</label><br/>
		<h:inputFile id="video" name="video" value="#{videoBean.video}" /><br/>
		<h:commandButton id="btn" value="Enviar" action="#{videoBean.editar()}" />
	</h:form>
</h:body>
</html>
