<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Editar imagens</title>
</h:head>
<f:metadata>
		<f:event listener="#{imagemBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
</f:metadata>
<h:body>
		<h:outputText value="#{imagemBean.men}" escape="false"></h:outputText>
	<h:form enctype="multipart/form-data">
		<h:inputHidden id="id" value="#{imagemBean.id}" />
		<label>Título:</label><br/>
		<h:inputText id="titulo" name="titulo" value="#{imagemBean.titulo}" /><br/>
		<h:graphicImage value="../#{imagemBean.image}" width="200px"></h:graphicImage>
		<h:inputText value="#{imagemBean.image}" style="display: none;" />
		<label>Imagens:</label><br/>
		<h:inputFile id="imagem" name="imagem" value="#{imagemBean.imagem}" /><br/>
		<h:commandButton id="btn" value="Enviar" action="#{imagemBean.editar()}" />
	</h:form>
</h:body>
</html>
