<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
 <title>editar</title>
</h:head>
<f:metadata>
		<f:event listener="#{postBean.carregarId(param['id'])}" type ="preRenderView"> </f:event>
	</f:metadata>

<h:body>
	<h:form>
		<h:inputHidden id="id" value="#{postBean.id}" />
		Título: <h:inputText value="#{postBean.titulo}" name="titulo" id="titulo"/>
		<br />
		Post: <h:inputText value="#{postBean.post}" name="post" id="post"/>
		<br />
		<h:commandButton action="#{postBean.editar()}" value="editar"/>
	</h:form>
</h:body>

</html>
