<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
		<!-- Carrega a lista do bean(que vem da controle) e faz o loop -->
			<h:dataTable value="#{postBean.getLista()}" var="post" border="1">
				<h:column>
					<f:facet name="header">id</f:facet>
					<!-- pega um atributo específico -->
					#{post.id}
				</h:column>
				<h:column>
					<f:facet name="header">titulo</f:facet>
					#{post.titulo}
				</h:column>
				<h:column>
					<f:facet name="header">post</f:facet>
					#{post.post}
				</h:column>
					<h:column>
						<f:facet name="header">Editar</f:facet>
						<a href="editarPost.xhtml?id=#{post.id}">Editar</a>
					</h:column>
					<h:column>
						<f:facet name="header">Remover</f:facet>
						<h:form>
							<h:commandLink value="Deletar" action="#{postBean.deletar(post.id)}" />
						</h:form>					
					</h:column>
					
			</h:dataTable>


</html>
