<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
<h:body>
	<h:panelGroup id="pa">
		<h:outputText value="#{imagemBean.men}" escape="false"></h:outputText>
		<h:dataTable value="#{imagemBean.getLista()}" var="img" border="1">
				<h:column>
					<f:facet name="header">id</f:facet>
					<!-- pega um atributo específico -->
					#{img.id}
				</h:column>
				<h:column>
					<f:facet name="header">titulo</f:facet>
					#{img.titulo}
				</h:column>
				<h:column>
					<f:facet name="header">imagem</f:facet>
					<h:graphicImage width="150px" value="../#{img.imagem}" rendered="#{!empty img.imagem}"/>
					<h:outputText value="Sem imagem" rendered="#{empty img.imagem}"></h:outputText>
				</h:column>
					<h:column>
						<f:facet name="header">Editar</f:facet>
						<a href="editarImg.xhtml?id=#{img.id}">Editar</a>
					</h:column>
					<h:column>
						<f:facet name="header">Remover</f:facet>
						<h:form>
							<h:commandLink  value="Deletar" action="#{imagemBean.deletar(img.id)}"></h:commandLink>
						</h:form>					
					</h:column>
			</h:dataTable>
		</h:panelGroup>
</h:body>
</html>
