<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:dataTable value="#{userBean.getLista()}" var="user" border="1">
				<h:column>
					<f:facet name="header">id</f:facet>
					<!-- pega um atributo específico -->
					#{user.id}
				</h:column>
				<h:column>
					<f:facet name="header">nome</f:facet>
					#{user.nome}
				</h:column>
				<h:column>
					<f:facet name="header">email</f:facet>
					#{user.email}
				</h:column>
				<h:column>
					<f:facet name="header">senha</f:facet>
					#{user.senha}
				</h:column>
					<h:column>
						<f:facet name="header">Editar</f:facet>
						<a href="editarUser.xhtml?id=#{user.id}">Editar</a>
					</h:column>
					<h:column>
						<f:facet name="header">Remover</f:facet>
						<h:form>
							<h:commandLink value="Deletar" action="#{userBean.deletar(user.id)}" />
						</h:form>					
					</h:column>
					
			</h:dataTable>

</html>
