<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
	<h:outputText value="#{videoBean.men}" escape="false"></h:outputText>
	<h:dataTable value="#{videoBean.getLista()}" var="vi" border="1">
		<h:column>
			<f:facet name="header">id</f:facet>
			<!-- pega um atributo específico -->
					#{vi.id}
				</h:column>
		<h:column>
			<f:facet name="header">titulo</f:facet>
					#{vi.titulo}
				</h:column>
		<h:column>
			<f:facet name="header">video</f:facet>
			<h:panelGroup rendered="#{!empty vi.video}">
				<video width="150" height="100" controls="true" src="../#{vi.video}"></video>
			</h:panelGroup>
			<h:outputText rendered="#{empty vi.video}" value="Sem video"></h:outputText>
		</h:column>
		<h:column>
			<f:facet name="header">Editar</f:facet>
			<a href="editarVideo.xhtml?id=#{vi.id}">Editar</a>
		</h:column>
		<h:column>
			<f:facet name="header">Remover</f:facet>
			<h:form>
				<h:commandLink value="Deletar" action="#{videoBean.deletar(vi.id)}" />
			</h:form>
		</h:column>

	</h:dataTable>
</h:body>
</html>
