<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Post</title>
</h:head>
<h:body>
	<h:form>
		<label>Título:</label><br/>
		<h:inputText id="titulo" name="titulo" value="#{postBean.titulo}" /><br/>
		<label>Postagem:</label><br/>
		<h:inputText id="post" name="post" value="#{postBean.post}" /><br/>
		<h:commandButton id="btn" value="Enviar" action="#{postBean.adicionarPost()}" />
	</h:form>
</h:body>
</html>
