<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Postagem de videos</title>
</h:head>
<h:body>
	<h:form enctype="multipart/form-data">
		<label>Título:</label><br/>
		<h:inputText id="titulo" name="titulo" value="#{videoBean.titulo}" /><br/>
		<label>Videos:</label><br/>
		<h:inputFile id="video" name="video" value="#{videoBean.video}" /><br/>
		<h:commandButton id="btn" value="Enviar" action="#{videoBean.adicionarVideo()}" />
	</h:form>
</h:body>
</html>
